:root {
  --background: #131e25;
  --card-background: #283137;
  --main-text: #fff;
  --accent-text: #ffc300;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
  color: var(--main-text);
  font-family: "Podkova", serif;
}

.vehicle-header {
  position: relative;
  background: url("/img/forest.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 80px 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 92vh;
  overflow: hidden;
}

.vehicle-header::after {
  content: "";
  position: absolute;
  background: url("/img/yellow-line.svg");
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  height: 120%;
  width: 100%;
  z-index: 5;
}

.vehicle-title {
  position: relative;
  margin: 0;
  font-size: 76px;
  color: var(--accent-text);
  z-index: 10;
  text-align: left;
  margin-bottom: 10px;
}

.vehicle-subtitle {
  position: relative;
  font-size: 36px;
  margin: 0 0 30px 0;
  z-index: 10;
  text-align: left;
}

.vehicle-image {
  position: relative;
  width: 60%;
  max-height: 500px;
  object-fit: contain;
  object-position: left bottom;
  margin-bottom: 20px;
  z-index: 10;
  left: -80px;
}

.vehicle-specs {
  position: relative;
  z-index: 10;
  margin-bottom: 30px;
}

.vehicle-specs p {
  font-size: 24px;
  margin: 10px 0;
}

.vehicle-specs span {
  color: var(--accent-text);
}

.view-model-btn {
  position: relative;
  padding: 10px 30px;
  font-size: 26px;
  border: 2px solid var(--accent-text);
  border-radius: 45px;
  color: var(--accent-text);
  background-color: var(--card-background);
  cursor: pointer;
  z-index: 10;
  margin-top: auto;
  margin-bottom: 50px;
  transition: all 0.3s;
}

.view-model-btn:hover {
  background-color: var(--accent-text);
  color: var(--card-background);
}

.shine-effect {
  position: absolute;
  bottom: -150px;
  right: -150px;
  background: url("/img/ellipse.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 600px;
  height: 600px;
  z-index: 5;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.vehicle-header:hover .shine-effect {
  opacity: 0.7;
  animation: shineRotate 8s linear infinite;
}

@keyframes shineRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.facts-container {
  position: relative;
  background-color: var(--card-background);
  padding: 40px;
  border-radius: 45px;
  margin: 30px 100px;
  z-index: 20;
}

.facts-container p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.facts-container span {
  color: var(--accent-text);
  font-weight: bold;
}

.quote {
  font-size: 28px;
  font-style: italic;
  text-align: center;
  color: var(--accent-text);
  margin-top: 40px;
}
